



.hat_h4{
    color: #a370f7;
    font-size: 40px;
    font-weight: bold;
    vertical-align: bottom;
    padding: 0 5% 0 0; /* top, right, bottom, left */
    margin: 0.9% 0 0.6% 0;
}

.hat {
    background: #343a40;
    padding: 0 0 0 15%;
    top: 0;
    position: sticky;
    border-bottom: 3px solid #a370f7;
}
    
.hat_link {
    color: #dee2e6;
    font-size: 24px;
}

.hat_link:hover {
    color: #a370f7;
}
