@page
@model WebApi.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    
    <head>
        @await Html.PartialAsync("Components/Header")
        <link rel="stylesheet" type="text/css" href="~/css/index.css" />
    </head>

    <body>
        <div class="index_block">
            <p>Результаты поиска</p>
        </div>

        <div class="chains">
            @foreach (var chain in Model.Chains)
            {
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <p class="chains_title">Тестируемый объект</p>
                        <p class="chains_label">@chain.PentestObj</p>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <p class="chains_title">Технологии</p>
                        <div class="row">
                            @foreach (var tag in @chain.Tags)
                            {
                                <span class="col-sm-3 col-md-2 badge rounded-pill text-bg-@tag.TagColor">@tag.InstrumentName</span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2 d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-info global_button">Подробнее</button>
                    </div>
                </div>
            }
        </div>
    </body>
</html>