@page
@model WebApi.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

    <head>
        @await Html.PartialAsync("Components/Header")
        <title>K planer</title>
    </head>

    <body>
        <div>

        </div>
    </body>

</html>