@page "{id:int}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApi.Pages.UpdateChainProgect

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        @await Html.PartialAsync("Components/Header")
        <link rel="stylesheet" type="text/css" href="~/css/ChainById.css"/>
        <script src="https://unpkg.com/vue@3"></script>
        
        <script src="~/Components/MyTag/MyTag.umd.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Components/MyTag/MyTag.css"/>

    </head>

    <body>

        <div class="index_block">
            <p>Редактирование Chain Project</p>
        </div>

        <div class="d-block justify-content-center chain_add chain_block">
            <form method="post">
                
                <p class="chains_H1">Название</p>
                <div class="mt-3">
                    <input asp-for="ChainRequest.PentestObj" type="text" value="@Model.Chain!.PentestObj" class="form-control" placeholder="название">
                    <input asp-for="ChainRequest.CreatorId" type="hidden" value="1">
                    <input asp-for="ChainRequest.Tags" type="hidden" value="[]">
                </div>

                <p class="chains_H1 mt-3">Теги</p>
                <div class="mt-3">
                    <div id="app"><mytag chainid="@Model.Id"></mytag></div>
                </div>
                
                <button type="submit" class="btn btn-outline-info global_button mt-5" asp-page-handler="update">Обновить ChainStep</button>
                <button type="button" class="btn btn-outline-info global_button mt-5" onclick="window.location.href='/ChainById/@Model.Id'">Отменить изменения</button>
            </form>
        </div>
    </body>
    
    <script>
        const app = Vue.createApp({});
        app.component('mytag', MyTag);
        app.mount('#app');
    </script>

</html>


}
    